@font-face {
    font-family:"Bebas-Neue";
    src: url(bebas-neue/BebasNeue-Regular.ttf)
}
@font-face {
    font-family:'RobotoMono';
    src: url(Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

html, body {
    min-height: 100vh;
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}



body{
    margin: 0 30px;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-buttons {
    margin-right: 1px;
    align-items: center;
}


.logo {
    font-family: 'Bebas-Neue';
    font-size: 3vw;
    font-weight: 400;
    letter-spacing: -4%;
}

.home {
    font-family: 'Bebas-Neue';
    background-color: white;
    border: 0;
    transition: 0.3s;
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: -1%;
}

.home:hover {
    background-color: gray;
    color: white;
    border-radius: 5px;
}

.web-main {
    padding: auto 0;
}

.title-head{
    font-family: "BEBAS-NEUE";
    font-size: 8vw;
    font-weight: 500;
    text-align: center;
    margin-bottom: 48px;
    height: auto;
    width: 100%;
  }
  
.title-image{
    width:100%;
    height:auto;
    align-self: center;
}


.img-grid {
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    row-gap: 48px;
    column-gap: 48px;
    justify-content: center;

}
.image-grid:hover {
    transform: scale(1.05);
    border-radius: 2px;
    box-shadow: 0px 0px 29px 3px rgb(143, 143, 143);
} 



.image-grid {
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: transform 0.2s;
    gap: 48px;
}

.imagecontainer {
    margin: 48px 0;
}

.projecttitle {
    font-size: 1vw;
}


.description {
    
    font-family: 'Bebas-Neue';
    font-size:3.2vw ;
    text-align: center;
    padding: auto 0;
    transition: transform 0.2s;
}

.description:hover {
    transform: scale(1.1);
    color: #000000;
    text-shadow: #bbbbbb 0 0 10px;

}


.spacer {
    background-color: white;
    width: 50%;
    height: 154px;
}

.welcome {
    display: flex;
    font-size: 1.79vw;
    font-family:'RobotoMono';
    line-height: 32px;
    margin: auto 0;
    padding-bottom: 48px;
}

.land {
    min-width:100vw;
    width: 100%;
    height: auto;
    max-width: 100vw;

}


.letsconnect {
    font-size: 3vw;
    font-weight: 400;
    font-family: 'Bebas-Neue'
}


.subscribe {
    background-color: black;
    width: 10vw;
    height: 5.5vh;
    color: white;
    text-align: center;
    justify-content: center;
    align-content: center;
    border-radius: 8px;
    font-family:'RobotoMono' ;
    font-size: 1.5vw;
    padding: 1px 1vw;

}

.emailbar {
    justify-content: center;
    align-content: center;
    width: 30vw;
    height: 5.5vh;
    border-radius: 8px;
    border: 1px solid black;
    padding: 0 10px;

}
.frame {
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.handles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100%;
    height: auto;
}

.container {
        position: relative;
        align-items: center;
        justify-content: center;
        justify-items: center;
        width: 100%;
        height: auto;
        margin: 0px;
        max-width: 100vw;
}



.overlay {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    position:absolute;
    top:0;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center; 
    max-width: 100vw;
  }


.click {
    transition: transform 0.4s;
}
.click:hover {
    transform: scale(1.5);
}


.social {
    width: 100%;
    height: auto;
}


.contactme {
    width: 169px;
    height:48px ;
    justify-content: end;
    background-color: white;
    font-family: 'RobotoMono';
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    padding: 12px 24px;
    border: 1px solid black;
}

.contactme:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .contactme:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .contactme::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  
  .contactme::after {
    background-color: #fff;
  }
  
  .contactme:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  

.copyright {
    font-family:'Bebas-Neue';
    font-size: 2.5vw;
}

footer {
    min-height: 10vh;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    flex-shrink: 0;
}


.welcome:hover {position:relative;animation:animateleft 1s}

@keyframes animateleft{
    from{left:-300px;opacity:0} to{left:0;opacity:1}
}

@media (max-width: 400px) {
    .title-head {
        font-size: 6vw; 
    }

    .emailbar, .subscribe {
        width: 100%;
    }

    .img-grid {
        grid-template-columns: repeat(2, 1fr); 
        row-gap: 24px;
    }
}

